.footer {
    min-height: 30vh;
    background-color: #252527;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 80vw;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-content:stretch;
   }

.title {
    height: 10%;
    margin: 10px;
    padding: 10px;
}
.items {
    width: 320px;
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
.items a img{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}