.footer {
    min-height: 30vh;
    background-color: saddlebrown;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 80vw;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-content:stretch;
   }

.title {
    height: 10%;
    margin: 10px;
    padding: 10px;
}
.items {
    border: solid 1px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}
.items img{
    margin: 20px;
    width: 50px;
    height: 50px;
}