.header {
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

}

.container {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

