.navMenu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    color: -webkit-link;
    cursor: pointer;
    font-family: sans-serif;
    height: 20px;

}

.navMenu span {
}

.navMenu > .active {
    border-bottom: 2px solid black;

}