
.item {
    position: relative;
    margin: 15px;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.picture {
    width: 400px;
    height: 300px;
    background-image: url("https://regnum.ru/uploads/pictures/news/2016/02/09/regnum_picture_1455046598_normal.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.description {
    height: 40%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 416px) {
    .picture {
        width: 310px;
        height: 300px;
    }

}