.items {
    height: 70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    background-color:#252527;
    height: 300px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
}

.picture {
    height: 60%;
    width:100%;
    background-image: url("https://regnum.ru/uploads/pictures/news/2016/02/09/regnum_picture_1455046598_normal.jpg");
background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.picture button{
    width: 50%;
}

.description {
    height: 40%;
    display: flex;
    flex-direction: column;
}