.items {
    height:70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.item {
margin: 2px;

    height: 280px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item img{
    height: 60px;
    width: 60px;
    background-color: darkgray;
}
.description {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}