.slogan {
    height: 33vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}